root = false

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[dot_gitconfig.tmpl]
indent_style = tab

[Makefile]
indent_style = tab
